// Override default variables
@use "sass:color";

$font-prefix: '@ibm/plex';
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';

$font-family-sans-serif: "IBM Plex Sans";

$primary: #75DC93;
$light-gray: #F1F1F1;
$dark-gray: #555;

@import '~bootstrap/scss/bootstrap.scss';

$hero-color: #F7B499;
$hero-background: transparentize($hero-color, 0.93);

body {
  min-height: 100vh; 
}

.hero {
  margin-top: 30vh;
  margin-bottom: 2em;
  h1 {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $dark-gray;
  display: block;
  opacity: 0.9;
}

.breakouts-frozen {
  background-color: #e2eaff;
}

.meeting-form {
  background-color: $light-gray;
  padding: 0.5em;
  border-radius: 15px;
  min-height: 100px;
  margin-bottom: 1em;
}

#breakout-list-container {
  //position: relative;
  //overflow: auto;
}

.breakout-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@include media-breakpoint-up(md) {
  .breakout-list {
    //position: absolute;
    grid-template-columns: repeat(2, 1fr);
  }
}

.participant-count {
  position: fixed;
  bottom: 0;
}

.breakout {
  background-color: $light-gray;
  padding: 0.5em;
  border-radius: 5px;
  height: 15vh;

}

.meeting {
  //position: relative;
}

.registrants {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ghost {
  cursor: default;
  pointer-events: none;
  transition: all .1s ease-out;
  position: fixed;
  z-index: 999;
  font-size: 16px;
}

.avatar {
  display: inline-block;
  justify-content: center;
  //align-items: center;
  border-radius: 50%;
  border: 2px solid #b5b3b3;
  background-color: transparentize(#17A398, 0.9);
  width: 36px;
  min-width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
}

.avatar.ws-active {
  border: 2px solid #9BB7FF;
  line-height: 32px;
}

.avatar.me {
  border: 2px solid #F7B499;
  background-color: transparentize(#F7B499, 0.9);
}

.avatar.profile {
  width: 64px;
  min-width: 64px;
  height: 64px;
  line-height: 60px;
  font-size: 32px;
}
