{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block body %}
<div class="container-md text-center flex-grow-1">
  <div class="row">
  <div class="hero col-10 offset-1 col-sm-6 offset-sm-3 p-md-5 pt-3 pb-3">
    <h1>Unbreakout (BETA)</h1>
    <p>Participatory Zoom breakouts,<br />
    from the folks who brought you Unhangout</p>
  </div>
  </div>
  <p>
  <a class="btn btn-primary" href={% url 'redirect' %}>Hosts &gt; Connect your Zoom account</a>
  </p>
</div>
<footer class="text-center">
  <p>Made by the MIT Media Lab <a href="https://www.media.mit.edu/groups/digital-learning-studio/overview/">Digital Learning & Collaboration Studio</a></p>
  <p>Have a look at our <a href="{% url 'terms' %}">terms of service</a> and <a href="{% url 'privacy' %}">privacy policy</a></p>
</footer>

{% endblock %}

{% block scripts %}
  {% csrf_token %}
  {{ react_props | json_script:"reactProps" }}
  {% render_bundle 'index' %}
{% endblock %}

