location = /robots.txt {
    alias  /var/www/extra/{{DOMAIN}}/static/robots.txt;
}

location = /favicon.ico {
    alias  /var/www/extra/{{DOMAIN}}/static/images/favicon.ico;
}

location /static/ {
    expires 30d;
    add_header Pragma public;
    add_header Cache-Control "public";
    autoindex on;
    root   /var/www/extra/{{DOMAIN}};
}

location /media/ {
    expires 30d;
    add_header Pragma public;
    add_header Cache-Control "public";
    autoindex on;    
    root   /var/www/extra/{{DOMAIN}};
}

location /zoomverify/verifyzoom.html {
    return 200 "a5d69be7c478490a8371d9369a6096fd";
}
